<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1>
<i class="fa fa-star" style="font-size:48px;color:pink"></i>
TODOS
<i class="fa fa-star" style="font-size:48px;color:pink"></i>
</h1>

</head>

<input id="new-todo" placeholder="What needs to be done?" autofocus>